@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&family=ZCOOL+XiaoWei&display&family=Marcellus&display=swap');

/* ------------------------- Colors -------------------------------------------------- */

:root {

  --color-dark: #1C1D20;
  --color-dark-dark: #141517;
  --color-light: #FFFFFF;
  --color-blue: #455CE9;
  --color-blue-dark: #334BD3;
  --color-gray: #999D9E;
  --color-lightgray: #E9EAEB;
  --color-white: #FFFFFF;
  
  --color-border: rgba(28, 29, 32, 0.175);
  --color-border-solid: #D2D2D2;
  --color-border-light: rgba(255, 255, 255, 0.2);
  --color-border-solid-light: #545557;

  --color-text: #1C1D20;
  --color-text-light: #FFF;

  --alert-error: #ff4444;
  --alert-success: #24C958;

  --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
  --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
  --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
  --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

  --section-padding: clamp(5em, 21vh, 12em);
  --container-padding: clamp(2.5em, 8vw, 8em);
  --gap-padding: clamp(1.5em, 4vw, 2.5em);


  --dark--foreground: #1c211e;
  --dark--main: #e3f7d3;
  --text-opacity\<deleted\|variable-c87bef24\>: rgba(220,225,216,.32);
  --dark--interactive: #7e8b74;
  --dark--opa: rgba(28,33,30,.85)

}


/* ------------------------- Typography -------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em  {padding: 0; margin: 0; font-style: normal; font-weight: 450; letter-spacing: normal;}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, p.big:last-child, p.small:last-child, a:last-child, strong:last-child  {margin-bottom: 0;}

h1 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    /* font-size: clamp(3.25em, 7vw, 8em); */
    line-height: 1.065;
    margin-bottom: 1em;
    font-size: calc(clamp(3.25em, 5vw, 8em) * .75);
    color: var(--dark--main);
}
  
h2 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: calc(clamp(3.25em, 3.4vw, 4.5em) * .75);
    line-height: 1.065;
    margin-bottom: .66em;
    color: var(--dark--main);
}
  
h3 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: clamp(2.66em, 3vw, 5.32em);
    line-height: 1.065;
    margin-bottom: 1em;
    color: var(--dark--main);
}
  
h4 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: clamp(1.55em, 2.3vw, 2.5em);
    line-height: 1.45;
    margin-bottom: 1em;
    color: var(--dark--main);
}

h5 {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: .6em;
    line-height: 1.065;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: .05em;
    opacity: .5;
    color: var(--dark--main);
}


p {
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-weight: 450;
    font-style: normal;
    color: var(--text);
    font-size: 1em;
    line-height: 1.66;
    margin-bottom: 1em;
    color: var(--dark--main);
}

p.small {
    font-size: .8em;
    line-height: 1.75;
    letter-spacing: .015em;
}

p.big {
    font-size: 1.2em;
}

strong {
    font-weight: 800;
}
*{
  box-sizing: border-box;
}
main{
  max-width: 80em;
  min-width: 30em;
  margin: 0 auto;
  height: 100%;
  margin-top: 0rem;
}

body{
  margin:0;
  background-color: var(--dark--foreground);
  color: var(--dark--main);

}

nav{
  height: auto;
  position: fixed;
  width: 100%;
  z-index: 300;
}

nav svg{
  position: absolute;
  top: 5px;
  left: 50px;
  width: 94px;
  /* color: difference; */
  height: 94px;
}
nav svg path {
  fill: transparent;
  stroke:var(--dark--main);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
}

@media screen and (max-width: 600px) {
  nav svg{
    position: absolute;
    top: 5px;
    left: 50px;
    width: 58px;
    /* color: difference; */
    height: 58px;
  }
}

nav ul{
  float: right;
  margin-right: 50px;
  margin-top: 23px;
  list-style: none;

}

nav ul li{
  display: inline-block;
  /* line-height:60px; */
  margin: 0px 5px;
}

nav ul li a.link{
  position: relative;

}

.home-item a{
  text-decoration: none;
}
label #sign-one,
label #sign-two{
  font-size: 30px;
  color: var(--dark--main);
  float: right;
  line-height: 70px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#res-menu{
  display: none;
}

h1{
  font-family: 'ZCOOL XiaoWei', serif;
  /* color: #28282B; */
  /* font-size: 46px; */
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 2rem;
  padding-top: 0rem;
  /* max-width: 800px;
  line-height: 54px; */
  filter: url(#warp-filter-0);
}

h1.homeheader{
  padding-top:8rem;
  margin-bottom: 2rem;
}

h2{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 30px;
  /* color: #28282B; */
  line-height: 25px;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;

}


.title{
  font-family: 'ZCOOL XiaoWei', serif;
  color: var(--dark--main);
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-decoration:none;
  border-bottom: 1px solid #28282B;
}

.labtitle{
  font-family: 'ZCOOL XiaoWei', serif;
  color: var(--dark--main);
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-decoration:none;
  border-bottom: 1px solid #28282B;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 700px;
  line-height: 26px;

  margin-bottom: 18px;
  color: var(--dark--main);
}

p.des{
  margin-top: 1px;
  padding-top: 3px;
  margin-bottom: 30px;
}
p.view{
  margin-top: 0;
  margin-bottom: 1.3rem;
  color: var(--dark--main);
  font-size: 16px;
}
a.link{
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 18px;
  color: var(--dark--main);
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid  var(--dark--main);
  padding:20px 30px;
  /* background-color:#FFFFFF; */
  margin: 0px 5px;
}

a.link:hover{
  background-position-y:70%;
  color: var(--dark--main);
  /* background: #28282B; */
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='41' height='49' viewport='0 0 100 100' style='fill:black;font-size:25px;'><text y='50%'>👀</text></svg>") 16 0,auto; /*!emojicursor.app*/}

a.underline{
  font-family: 'Open Sans', sans-serif;
  color: var(--dark--main);
  text-decoration: none;
  text-decoration-line: underline;
  text-decoration-color: var(--dark--main);
  text-decoration-thickness: 3px;
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}


.img-hover-zoom:hover img {
  transform: scale(0.9);
}


.fit{
  width: 100%;
}

.visible-mobile{
  display:none !important;
}

.work{
  display: grid;
  grid-template:repeat(2,1fr)/repeat(2,1fr);
  justify-content: space-evenly;
  grid-gap: 5rem;
}
.other{
  display: grid;
  grid-template:repeat(1,4fr)/repeat(4,1fr);
  justify-content: space-evenly;
  grid-gap: 0.3rem;
}
.three-columns-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,3fr);
  grid-gap: 1rem;
}
.two-columns{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,2fr);
  grid-column-gap: 24px;
  padding-top: 8rem;
}

.labgrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.intro{
  grid-gap: 5rem;
  padding-bottom: 90px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
@media screen and (max-width:600px) {
  .intro{
    min-height: auto;
  }
}
.about{
  margin-left: 0px;
}
p.short-about{
  width: 620px;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 24px;
}

.sidebar{
  align-items: left;
  justify-content:left;
  margin-left:50px;
  position: relative;
  display: inline-block;
  background-color:#1CCCCC;
  z-index:10;
}

.sidebar ul{
  top: 200px;
  position:fixed;
  list-style: none;
  padding: 10px;

}
.sidebar ul li{
  margin: 5px 0;
}

.sidebar ul li a{
  text-decoration: none;
  color: #28282B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 25px;
  font-size: 15px;
}

.sidebar ul li a:hover{
  color:#FF965E;
}

iframe{
  width:1080px;
  height:600px;
}

hr {
  border: 1px solid #959595;
}

footer{
  margin: 50px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  font-size: 20px;
  font-family: 'ZCOOL XiaoWei', serif;
  font-weight: 300;
}


@media (min-width: 768px) and (max-width:1080px){
  main{
    max-width: 40em;
    min-width: 10em;
    margin: 0 auto;
  }

  .sidebar{
    display: none;
  }

  iframe{
    width:800px;
    height:500px;
  }

}

@media (min-width: 1080px) and (max-width:1468px){
  main{
    max-width: 60em;
    min-width: 10em;
    margin: 0 auto;
  }

  .sidebar{
    display: none;
  }

  iframe{
    width:1000px;
    height:550px;
  }
}

@media (min-width: 300px) and (max-width:812px){
  main{
    max-width: 22em;
    min-width: 18em;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 60px;
  }

  body{
    margin:0;
    min-height:100%;
  }
  label #sign-one{
    display: block;
  }

  nav ul{
    position: fixed;
    width: 95%;
    top:30px;
    right: -80%;
    text-align: right;
    transition: .9s;
    z-index: 10;
  }

  nav ul li{
    display: block;
    margin: 10px 0px;
  }

  nav img{
    width:60px;
    top:5px;
    left:20px;
  }

  nav ul li a.link{
    font-size: 20px;
    font-weight: 400;
    margin:1px 0px;
  }

  #res-menu:checked ~ ul{
    left: 0;
  }

  #res-menu:checked ~ label #sign-one{
    display: none;
  }

  #res-menu:checked ~ label #sign-two{
    display: block;
  }

  h1, .homeheader{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  h1{
    margin-top: 0rem;
    font-size: 2.4rem;
    font-weight: 400;
  }
  h1.homeheader{
    margin-bottom: 1rem;
    /* font-size: 29px; */
    line-height: 37px;
    padding-top: 0rem;
}

    h1.lab{
      padding-top:80px;
    }

  h2{
    font-size: 1.5rem;
    line-height: 1.4rem;
    margin-top: 50px;
  }

  p{
    font-size: 16px;
    line-height: 26px;
  }

  p.short-about{
    max-width: 22rem;
  line-height: 26px;
  }

  .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }

  .fit{
    width: 100%;
  }

  .new-paragraph a{
    display:block;
    font-size: 16px;
    line-height: 26px;
  }

  .work, .other{
    display: block;
    grid-gap: 1rem;
  }

  .home-image{
    max-width: 22rem;
    margin: 2rem 1.5rem 0 1.5rem;
  }
  .home-image-vertical{
    max-width: 15rem;
    margin: 2rem 5rem 0 5rem;
  }

  .visible-mobile{
    display:inline !important;
  }

  .hidden-mobile{
    display:none !important;
  }

  .same-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .img-show{
    display: grid;
    grid-template: repeat(2,1fr)/repeat(2,1fr);
    grid-gap: 0.5rem;
  }

  .intro{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-bottom: 48px;
    grid-gap:2rem;
  }
  .two-columns, .footer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 0px;
    margin-top: 0px;
    padding-top: 70px;
  }
  .three-columns-grid{
    display: grid;
    grid-template-columns: repeat(1,3fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0px;
  }
  .three-columns-grid h2{
    margin-top: 20px;
  }

  .sidebar{
    display: none;
  }

  iframe{
    width:300px;
    height:200px;
  }

  footer div{
    text-align: center;
    margin-bottom: 16px;
  }

.footer{
      font-size: 12px;
}
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;

  z-index: -1;

  opacity: 1;

  transition: opacity 0.5s ease-in;
}

.gallery_image-wrapper img{
opacity: 0;
}
canvas{
  background-color: white;
}

/* loading Screen */

/* ------------------------- Page Transition -------------------------------------------------- */

.no-scroll-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 900;
  display: none;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
  background: transparent;
}

.loading-screen {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
}

.loading-screen,
.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
  background: var(--color-dark-dark);
}

.loading-container .rounded-div-wrap.top .rounded-div,
.loading-container .rounded-div-wrap.bottom .rounded-div {
  height: 745%;
}

.loading-container .rounded-div-wrap.top {
  top: 0;
  position: absolute;
  transform: translateY(-99%) scale(1,-1);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .rounded-div-wrap.bottom {
  top: unset;
  bottom: 0;
  position: absolute;
  transform: translateY(99%);
  z-index: 2;
  height: 0vh;
  will-change: height;
}

.loading-container .loading-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  display: block;
  will-change: opacity;
}

.loading-container .loading-words h2 {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding-left: .6em;
  white-space: nowrap;
  padding-right: .4em;
  will-change: opacity;
}

.loading-container .loading-words h2.jap {
  font-size: calc(clamp(3.25em, 5vw, 4.5em) * .65);
  transform: translate(-50%, 10%);
}

.loading-container .dot {
  display: block;
  position: absolute;
  border-radius: 50%;
  background: var(--color-white);
  left: 0;
  top: 47%;
  bottom: auto;
  width: calc(clamp(16px, 1.2vw, 19px) / 1.65);
  height: calc(clamp(16px, 1.2vw, 19px) / 1.65);
  transform: translate(0, 0) scale(1);
}

.loading-container .loading-words h2.active {
  display: block;
}

.loading-container .loading-words .home-active,
.loading-container .loading-words .home-active-last {
  opacity: 0;
  display: none;
}

.loading-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 90;
  background: #FFF;
  visibility: hidden;
  opacity: 0;
}

.once-in {
  will-change: transform;
}

@media screen and (max-width: 540px) {

  /* .loading-container .loading-words h2 {
     padding-left: 0;
  } */

  /* .loading-container .dot {
     display: none;
  } */

  .loading-container .dot {
     top: 42%;
  }
}




/* smart Nav */

#navbar{
  /* position:fixed; */
  top:0;
  left:0;
  width:100%;
  color:white;
  text-align:center;
  
  /*Define a height for NavBar*/
  /* height:80px; */
  transition: 0.5s;
  /*and a transition time for a smooth appearence*/
  
}


/* Typography */



/* Magnatic Butttons */

.magnetic {
  /* margin: -100px;
  padding: 100px; */
  display: inline-block;
  /* border-radius: 50%; */
  /*border: 1px solid #000; //use this for debugging*/
}


.my-button:hover {
  /* color: #FFF; */
  /* background-color: #000; */
  transition: 0.5s background-color, 0.5s box-shadow;
  /* box-shadow: 0px 2px 25px rgba(0,0,0,0.5); */
}
a {
  color: var(--dark--main);
  font-family: Nm,sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.2em;
  text-decoration: none
}

/* SVG CLIP */

.img-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.masked-image {
  width: 100%;
  display: none;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}
.w-embed:before, .w-embed:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}
svg:not(:root) {
  overflow: hidden;
}
.w-embed:after {
  clear: both;
}

img{
  filter: url(#warp-filter-0);
}